*, *:before, *:after {
  box-sizing: border-box;

  .wf-active & {
    font-weight: normal !important;
    font-style: normal !important;
  }
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  @include font(light);
  font-size: 16px;
  line-height: 1.5;
  color: #585858;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

h1 {
  @include font(light);
  margin-bottom: 1em;
  font-size: 2em;
  line-height: 1.15;

  @include mq(sm) {
    font-size: 3em;
  }
}

a {
  color: color(primary);

  &:hover,
  &:focus {
    color: shade(color(primary), 15%);
  }
}

ol, ul {
  list-style: none;
}

img, svg, iframe {
  vertical-align: middle;
}

// http://stackoverflow.com/questions/29814709/click-event-not-fired-on-button-with-svg-element-in-safari
svg {
  pointer-events: none;
}

label {
  cursor: pointer;
}
