.content {
  overflow-x: hidden; // prevent mobile image from overflowing

  @include mq(sm) {
    display: flex;
    justify-content: flex-end;
  }

  @import 'content/image';
  @import 'content/text';
}
