$breakpoints: (
  xs: 320px,
  ms: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1400px
);

$fonts: (
  fallback: ('helvetica neue', helvetica, arial, sans-serif),
  light: 'TyponineSans Light 68',
  regular: 'TyponineSans Regular 92',
  bold: 'TyponineSans Bold 52'
);

$colors: (
  primary: #1a5fde
);

// brand colors
$bc: (
  facebook: #3b5998
);

// used for calculating z-index
$elements: main, navigation;
