// type
$fonts: (
  fallback: ('helvetica neue', helvetica, arial, sans-serif),
  light: 'TyponineSans Light 68',
  regular: 'TyponineSans Regular 92',
  bold: 'TyponineSans Bold 52'
);

// your colors
$colors: (
  primary: #1a5fde
);

// brand colors
$bc: (
  facebook: #3b5998
);

// used for calculating z-index
$elements: main, navigation;
