p {
  margin-bottom: 1.5em;
}

li {
  margin-bottom: 1em;
}

&-text {
  padding: 50px 20px 20px 20px;

  @include mq(sm) {
    width: 440px;
    padding: 60px 20px 60px 60px;
  }

  @include mq(md) {
    width: 580px;
    padding: 70px 80px 70px 80px;
  }

  @include mq(lg) {
    width: 680px;
    padding: 70px 120px 70px 80px;
  }
}

&-logo {
  @include font(bold);
  display: inline-block;
  margin-bottom: 40px;
  font-size: 24px;
  text-decoration: none;

  @include mq(sm) {
    margin-bottom: 60px;
  }
}

&-requirements {
  @include font(regular);
  display: flex;
  margin-bottom: 30px;

  @include mq(sm) {
    margin-bottom: 40px;
  }
}

&-requirement {
  margin-right: 24px;

  @include mq(sm) {
    margin-right: 92px;
  }

  &-label {
    font-size: 14px;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #727272;
  }

  &-value {
    font-size: 20px;
    color: #000;
  }
}

&-info {
  &-item {
    margin-bottom: 1.5em;

    @include mq(sm) {
      display: flex;
    }
  }

  &-label {
    @include font(regular);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-size: 18px;
    color: #727272;

    @include mq(sm) {
      display: block;
      flex-shrink: 0;
      width: 6.5em;
      margin-right: 1em;
      font-size: inherit;

      img {
        display: none;
      }
    }
  }

  &-value {
    p, li {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .link {
      @include font(bold);
      color: #008df0;

      &:hover,
      &:focus {
        color: color(primary);
      }

      &-social {
        display: inline-block;
        margin-right: 2em;
        text-decoration: none;
        color: inherit;

        @include mq(md) {
          position: relative;
          bottom: 0.2em;
        }

        + .link-social {
          @include mq(sm) {
            margin-top: 0.5em;
          }

          @include mq(md) {
            position: relative;
            margin-top: 0;
          }
        }

        span {
          vertical-align: middle;
        }

        &:hover,
        &:focus {
          color: #000;
        }
      }
    }

    .social {
      display: flex;
      align-items: center;

      &-button {
        + .social-button {
          margin-left: 1em;
        }

        &.facebook {
          position: relative;
          bottom: 1px;
        }
      }
    }
  }
}
