---
title: UI/UX designer wanted
description: Unity is expanding and we need your help to keep delivering the most bad ass designs on the market. We are looking for UI/UX designer to join the team and build very exciting and cool products with us.
---

<div class="content">
  <div class="content-image">
    <img src="images/desk@2x.png" alt="" />
    <img src="images/cactus@2x.png" alt="" />
    <img src="images/display@2x.png" alt="" />
    <img src="images/ps@2x.png" alt="" />
    <img src="images/floppy@2x.png" alt="" />
    <img src="images/photos@2x.png" alt="" />
    <img src="images/camera@2x.png" alt="" />
    <img src="images/mouse@2x.png" alt="" />
    <img src="images/keyboard@2x.png" alt="" />
    <img src="images/coffee@2x.png" alt="" />
    <img src="images/gameboy@2x.png" alt="" />
    <img src="images/ai@2x.png" alt="" />
    <img src="images/sketch@2x.png" alt="" />
  </div>

  <div class="content-text">
    <a class="content-logo" href="/">Unity</a>
    <h1 class="content-title">UI/UX designer <br/>wanted</h1>
    <div class="content-requirements">
      <div class="content-requirement">
        <h3 class="content-requirement-label">Location</h3>
        <div class="content-requirement-value">Split, Croatia</div>
      </div>
      <div class="content-requirement">
        <h3 class="content-requirement-label">Skill Level</h3>
        <div class="content-requirement-value">Noob/Expert</div>
      </div>
    </div>
    <p>Unity is expanding and we need your help to keep delivering the most bad ass designs on the market. We are looking for UI/UX designer to join the team and build very exciting and cool products with us.</p>
    <p>We’re a team of 15+ designers and developers dedicated on building cool digital products and interfaces. We also love what we do and enjoy the awesome process of creating stuff and bringing it to a pixelated life.</p>
    <div class="content-info">
      <div class="content-info-item">
        <h2 class="content-info-label">A Little About This Role</h2>
        <div class="content-info-value">
          <p>We are looking for an individual with exceptional aesthetic sense that sees and breathes pixels. You will be creating products and interfaces for large and small companies, from small startups to large corporations. You will also be responsible for creating company presentations and concept design for various in-house projects.</p>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">You will have to</h2>
        <div class="content-info-value">
          <ul>
            <li>Create wireframes and user flows for web/mobile projects</li>
            <li>Design web/mobile projects</li>
            <li>Be able to understand client needs and deliver results based on project requirements</li>
            <li>Be a team player able to learn new stuff and to share what you got</li>
            <li>Experiment/iterate with the team to get the best possible solutions</li>
          </ul>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">Would be great if you</h2>
        <div class="content-info-value">
          <ul>
            <li>Mastered typography and layout, yoda style</li>
            <li>Know how to code HTML/CSS/Whatever</li>
            <li>Understand the process of product development</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
