---
title: UI/UX Designer Wanted
description: Unity is expanding and we need your help to keep delivering the most bad ass designs on the market. We are looking for UI/UX designer to join the team and build very exciting and cool products with us.
---

<div class="content">
  <div class="content-image">
    <div class="content-image-mobile">
      <% site.data.images.forEach(function (image) { %>
        <div class="img"><img src="images/<%= image.url %>@2x.png" alt="" /></div>
      <% }) %>
    </div>
    <div class="content-image-desktop">
      <% site.data.images.forEach(function (image) { %>
        <div class="img">
          <img
            src="images/<%= image.url %>@2x.png"
            data-start="transform: translate3d(0, <%= image.start %>px, 0)"
            data-end="transform: translate3d(0, 0, 0)"
            alt=""
          />
        </div>
      <% }) %>
    </div>
  </div>

  <div class="content-text">
    <a class="content-logo" href="/">Unity</a>
    <h1 class="content-title">UI/UX designer <br/>wanted</h1>
    <div class="content-requirements">
      <div class="content-requirement">
        <h3 class="content-requirement-label">Location</h3>
        <div class="content-requirement-value">Split, Croatia</div>
      </div>
      <div class="content-requirement">
        <h3 class="content-requirement-label">Skill Level</h3>
        <div class="content-requirement-value">Noob/Expert</div>
      </div>
    </div>
    <p>Unity is expanding and we need your help to keep delivering the most bad ass designs in the world, like ever. We are looking for UI/UX designer to join the team and build cool stuff with us.</p>
    <p>We’re a team of 15+ designers and developers dedicated to building cool digital products and interfaces. We also love what we do and enjoy the awesome process of creating stuff and bringing it to a pixelated life. Now we need you to help us do this on an even larger scale.</p>
    <div class="content-info">
      <div class="content-info-item">
        <h2 class="content-info-label">A Little About This Role <img src="images/mobile/gameboy@2x.png" width="62" height="43" alt="" /></h2>
        <div class="content-info-value">
          <p>We are looking for an individual with an exceptional sense for aesthetics who sees and breathes pixels. You will be creating products and interfaces for large and small companies, from small startups to large corporations. You will also be responsible for creating case studies and concept designs for various in-house projects.</p>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">You will have to <img src="images/mobile/coffee@2x.png" width="39" height="51" alt="" /></h2>
        <div class="content-info-value">
          <ul>
            <li>Create wireframes and user flows for web/mobile projects</li>
            <li>Design web/mobile projects</li>
            <li>Be a team player</li>
            <li>Learn new stuff and share what you got</li>
            <li>Experiment/iterate with the team to get the best possible solutions</li>
            <li>Be commited to delivering the best design ever</li>
          </ul>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">Would be great if you <img src="images/mobile/floppy@2x.png" width="69" height="41" alt="" /></h2>
        <div class="content-info-value">
          <ul>
            <li>Mastered typography and layout, Yoda style</li>
            <li>Can code HTML/CSS/Whatever</li>
            <li>Can animate stuff</li>
            <li>Pay attention to details</li>
            <li>Understand the process of product development</li>
            <li>Have a magical power of some sort</li>
          </ul>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">Why you'll love working with us</h2>
        <div class="content-info-value">
          <ul>
            <li>Friendly team that likes breaking stuff apart then putting it back together even better</li>
            <li>Flexible working hours</li>
            <li>Cool projects for awesome clients (we were forced to add this)</li>
          </ul>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">Find us on</h2>
        <div class="content-info-value">
          <p>
            <a class="link-social" target="_blank" href="https://www.behance.net/unityinteractive"><img src="images/behance@2x.png" width="30" height="30" alt="Behance" /> <span>Behance</span></a>
            <a class="link-social" target="_blank" href="https://dribbble.com/unityinteractive"><img src="images/dribbble@2x.png" width="30" height="30" alt="Dribbble" /> <span>Dribble</span></a>
          </p>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">Show us what you got</h2>
        <div class="content-info-value">
          <ul>
            <li>Portfolio (mandatory, web or pdf)</li>
            <li>CV (optional, but would be super cool)</li>
            <li>A few words about yourself (mandatory, just make something up)</li>
          </ul>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">Apply here</h2>
        <div class="content-info-value">
          <p><a class="link" href="mailto:hello@unity.hr">hello@unity.hr</a></p>
        </div>
      </div>
      <div class="content-info-item">
        <h2 class="content-info-label">Share</h2>
        <div class="content-info-value">
          <div class="social">
            <div class="social-button twitter">
              <a class="twitter-share-button"
                 href="https://twitter.com/intent/tweet"
                 data-text="Unity is hiring a UI/UX designer 🎨"
                 data-count="none">Tweet</a>
            </div>
            <div class="social-button facebook">
              <div class="fb-share-button"
                   data-href="http://unity.hr/hiring/"
                   data-layout="button"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
